<div class="">
    <h1 style="color: purple">HIGH 5</h1>
    <div class="center">
        <img src="https://media.tenor.com/825JM-UpUScAAAAM/cat-high-five.gif" alt="hi-5"/>
    </div>
    <div style="margin: 10px;">
        <h1 style="
                border: 2px; 
                border-style: solid;
                border-color: green; 
                margin-top: 5px; 
                margin-bottom: 5px;">
            {{message}}
        </h1>
    </div>

</div>
<div class="">
    <form action="/message" method="post">
        <input type="text" name="messageBody">
        <button type="submit"> Send</button>
    </form>
</div>