<header class="row d-flex" style="display: flex;">
    <div class="col-md-5 col-md-offset-2">
      <nav>
        <ul class="nav nav-pills">
          <li><a [routerLink]="['/messages']" *ngIf="isUserLoggedIn()">Mensagens</a></li>
          <li><a [routerLink]="['/auth']">Autenticação</a></li>
        </ul>
      </nav>
    </div>
    <div class="col-md-3" style="display: flex; align-items: center; justify-content: end;" *ngIf="isUserLoggedIn()">
        <a [routerLink]="['/user']"><i class="fa fa-user">{{ " " }}</i> {{ userName }}</a>
    </div>
  </header>